@import "variables";
.header-index {
    position: fixed;
    transform: translateZ(0);
    top: 0;
    z-index: 4;
    height: $header-height;
    background: $header-bg-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: $font-title-size;
    color: $white-color;
    max-width: 1024px;
    margin:auto;
    width: 100%;
    .title{
        flex: 1;
    }
    > div {
        padding:0 0.3rem;
    }
    a {
        color: inherit;
    }
    .iconfont {
        font-size: .5rem;
        &.icon-fenxiang {
            margin-right: .8rem;
        }
        &.icon-shoucang {
            margin-right: .6rem;
        }
    }
    i,
    span {
        vertical-align: middle;
    }
    .text {
        margin-right: .3rem;
        font-size: $font-size;
    }
}