@import "variables";
.swiper-container{
    height: $slider-height;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translate(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    .swiper-slide{
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 100%;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .swiper-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: -webkit-linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.1) 40%,rgba(0,0,0,.1));
        background-image: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.1) 40%,rgba(0,0,0,.1));
    }
    .slider-title{
        position: absolute;
        bottom: 23px;
        line-height: 1.2;
        left: 0;
        padding: 0 18px;
        font-weight: 300;
        font-size: 21px;
        color: $white-color;
    }
    .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 100%;
        background: #5a5a5a;
        opacity: .8;
        margin:0 .1rem;
    }
    .swiper-pagination-bullet-active{
        opacity: 1;
        background: #f4f5ff;
    }
    
    .swiper-pagination {
        position: absolute;
        text-align: center;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 10;
        bottom:10px;
        width: 100%;
    }
}