$body-bg-color:#f9f9f9;

$white-color: #fff;
$black-color: #000;

$header-bg-color:#00a2ea;
$border-color:#eee;

$link-color:#4786b3;
$blockquote-color:#9da3a6;
$blockquote-border-color:#dfe3e6;

$font-title-size:.4rem;
$font-size:.35rem;
$font-des-size: .2rem;

$font-title-color:#333;
$font-color:#666;
$font-des-color:#999;

$padding-space: .4rem;

$header-height: 1.333rem;
$slider-height:6.133rem;